@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
 
}

/* form css  */
form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
 label {
  text-align: left;
  display: block;
}
#h2 {
  font-size: 20px;
  color: #422ba8;
  margin-bottom: 30px;
  text-align: center;
}
input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
#button {
  background: #422ba8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*navbar css*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 30px;
  padding: 0 10px;
}
.navbar h1 {
  color: #422ba8;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.navbar .nav-links {
  display: flex;
  align-items: center;
}
.navbar .links,
.navbar .auth-links {
  display: flex;
  align-items: center;
}
.navbar .links a,
.navbar .auth-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #422ba8;
  padding: 40px;
}
.navbar .links a:last-child,
.navbar .auth-links a:last-child {
  margin-right: 0;
}

.navbar a:hover {
  color: #ec26d2;
}
.logout-container {
  display: inline-block;
  margin-left: 20px;
}
.logout-container button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}
.logout-container button:hover {
  background-color: #da9a95;
}
.user-info {
  margin-left: 27px;
}


/*home css*/

.home h1{
  color: #422ba8;
  text-align: center;
}
.mission h2{
  padding: 20px;
  margin-top: 50px;
  color:#422ba8;
  text-align: center;
}
.mission p{
  text-align: center;
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 20px;
}
.start h2{
  padding: 20px;
  margin-top: 50px;
  color:#422ba8;
  text-align: center;
}
.start p{
  text-align: center;
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 20px;
}
.home button{
  display: flex;
  align-content: center;
  margin-top: 70px;
  margin-left: 700px;
  background: #422ba8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.buttons{
  display: flex;
  margin-left: 705px;
  align-items: center;
}
.my-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px;
}

/* register css */

.register h1{
  text-align: center;
  padding: 30px;
  color: #422ba8;
}
.register button{
  background: #422ba8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*login css*/
.login h1{
  text-align: center;
  padding: 30px;
  color: #422ba8;
}
.login button{
  background: #422ba8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}


/* profile css */
.profilepage h1{
  text-align: center;
  padding: 30px;
  color: #422ba8;
}
.profilepage h2{
  text-align: center;
  padding: 30px;
  color: #422ba8;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.editButton {
  background-color: #422ba8;
  color: white;
  padding: 2px 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  top: 1px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
input[type="checkbox"]:checked::before {
  content: "✔";
  color: #007bff;
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 14px;
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 3px #007bff;
}
.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.completed-label {
  margin-right: 1em;
}

/* create page */
.task-form {
  text-align: center;
}

